<igj-card>
  <ng-template igjCardHeader>
    <h2>Resources</h2>
  </ng-template>
  <ng-template igjCardContent>
    <button class="btn btn-resource" disabled><b>Energy:</b> {{energy}}</button>
    <button class="btn btn-resource" disabled><b>Ore:</b> {{ore}}</button>
  </ng-template>
</igj-card>


<igj-card>
  <ng-template igjCardHeader>
    <h2>Craft</h2>
  </ng-template>
  <ng-template igjCardContent>
    <button class="btn info" *ngFor="let recipe of recipes" (click)="craft(recipe)" [disabled]="energy < recipe.energy || ore < recipe.ore">
      <b>{{recipe.name | uppercase}}</b> - Ore: {{recipe.ore}}, Energy: {{recipe.energy}}
    </button>
  </ng-template>
</igj-card>
