<igj-page>
  <section>
    <h2>Test Toaster</h2>
    <label for="whatever">Modal Message</label>
    <textarea name="whatever" id="whatever" cols="30" rows="10" [(ngModel)]="textValue"></textarea><br>
    <button (click)="createSuccess()">Create Success</button>
    <button (click)="createWarn()">Create Warning</button>
    <button (click)="createError()">Create Error</button>
    <button (click)="createInfo()">Create Info</button>
  </section>

  <section>
    <h2>Test Modal</h2>
    <button class="raspberry" (click)="openModal()">Open a moodal</button>
  </section>

  <section>
    <h2>Hover Lists</h2>
    <igj-hover-list [items]="[1,2,3,4,5,100]">
      <ng-template igjListHeader>
        <div class="boxed">This is a hoverable element</div>
      </ng-template>
      <ng-template igjListItem let-item>
        <div class="wide-item">
          {{item}}
        </div>
      </ng-template>
    </igj-hover-list>
  </section>

  <section>
    <h2>Game state store example</h2>
    {{lastGameSaveTime|date: 'yyyy-MM-dd HH:mm:ss'}}
    <br>
    <button class="raspberry" (click)="updateLastSaveTime()">Update Save Time</button>
    <button class="raspberry" (click)="updateExampleProp()">Update Example Property with random text</button>
    <button class="raspberry" (click)="updateBoth()">Update Both</button>

    <fieldset>
      <legend>State Object</legend>
      {{(entireSaveState$|async)|json}}
    </fieldset>
  </section>

  <section>
    <h2>Card layout</h2>
    <igj-card>
      <ng-template igjCardHeader><h2>Card Header</h2></ng-template>
      <ng-template igjCardContent>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab culpa delectus dicta doloribus exercitationem
          hic in, inventore minus modi nobis, numquam quas rem repellat sint ullam. Enim iure numquam tempora.</p>
      </ng-template>
    </igj-card>

    <igj-card colour="raspberry">
      <ng-template igjCardHeader><h2>Card Header</h2></ng-template>
      <ng-template igjCardContent>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab culpa delectus dicta doloribus exercitationem
          hic in, inventore minus modi nobis, numquam quas rem repellat sint ullam. Enim iure numquam tempora.</p>
      </ng-template>
    </igj-card>

    <igj-card colour="lemon">
      <ng-template igjCardHeader><h2>Card Header</h2></ng-template>
      <ng-template igjCardContent>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab culpa delectus dicta doloribus exercitationem
          hic in, inventore minus modi nobis, numquam quas rem repellat sint ullam. Enim iure numquam tempora.</p>
      </ng-template>
    </igj-card>


  </section>



</igj-page>

<igj-modal [modalDisplay$]="modalDispaySubject$">
  <ng-template igjModalHeader>
    <h2>This is a title for my modal</h2>
  </ng-template>
  <ng-template igjModalContent>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cum dignissimos eligendi est fugit, impedit
    minima nobis optio rerum voluptatum.
  </ng-template>
</igj-modal>
