<igj-window windowTitle="Debug Window" [displayState$]="displayObserve">

  <fieldset>
    <legend>Resource</legend>
    <button class="btn" (click)="addEnergy(1)">Add 1 Energy</button>
    <button class="btn" (click)="addOre(1)">Add 1 Ore</button>
    <button class="btn" (click)="addEnergy(10000)">Add 10000 Energy</button>
    <button class="btn" (click)="addOre(10000)">Add 10000 Ore</button>
  </fieldset>
  <fieldset>
    <legend>Events</legend>
    <button class="btn">Trigger event</button>
  </fieldset>
  <fieldset>
    <legend>Other</legend>
    <button class="btn" (click)="pauseUnpause()">Pause/Unpause</button>
  </fieldset>


</igj-window>
