<div class="modal-tonedown-overlay" *ngIf="modalDisplayState">
  <div class="modal-window">
    <div class="modal-header">
      <div>
        <ng-container *ngTemplateOutlet="modalHeader"></ng-container>
      </div>
      <div class="pull-right">
        <span class="fa fa-times" role="button" (click)="closeModal()"></span>
      </div>
    </div>
    <div class="modal-content">
      <ng-container *ngTemplateOutlet="modalContent"></ng-container>
    </div>
  </div>
</div>
<ng-template>
  <ng-content></ng-content>
</ng-template>
