<igj-page>
  <section>
    <h2>Programming</h2>
    <ul>
      <li><a href="https://github.com/ConnerEnders"><span class="fa fa-external-link"></span> Conner Enders</a></li>
      <li><a href="https://github.com/jeremy-sprinkle"><span class="fa fa-external-link"></span> Jeremy Sprinkle</a>
      </li>
      <li><a href="https://github.com/miboch"><span class="fa fa-external-link"></span> Mikkel B. Christensen</a></li>
    </ul>
  </section>

  <section>
    <h2>Art</h2>
  </section>
  <ul>
    <li><a href="https://twitch.tv/arkraga"><span class="fa fa-external-link"></span> Arkraga</a></li>
  </ul>

  <section>
    <h2>Testing</h2>
    <ul>
      <li>Your name here ;)</li>
    </ul>
  </section>

</igj-page>
