@import 'theme';

.warn {
  .toaster-header {
    border-top: 1px solid $warning;
  }
}


.info {
  .toaster-header {
    border-top: 1px solid $info;
  }
}

.success {
  .toaster-header {
    border-top: 1px solid $success;
  }
}

.error {
  .toaster-header {
    border-top: 1px solid $error;
  }
}

.toaster-wrapper {
  background-color: #29252C;
  transition: .25s ease-in-out;
  position: fixed;
  bottom: 16px;
  left: 5%;
  min-height: 90px;
  max-width: 350px;
  width: 100%;
  animation: shoot-in 1s cubic-bezier(0, 1.29, 0.81, 1.15);
  z-index: 20;
}

.toaster-header {
  background-color: #2E2931;
  padding: 0 1rem;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  border-bottom: 1px solid #101010;
}

.toaster-content {
  padding: 1rem;
}

.button-like {
  width: 30px;
  height: 30px;
  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}

.timeout-animation {
  position: absolute;
  height: 4px;
  width: 100%;
  bottom: 2px;
  left: 0;
  animation: shrink 9s linear;
  background-color: #101010;
}


@keyframes shrink {
  0% {
    width: 100%
  }
  100% {
    width: 0;
  }
}

@keyframes shoot-in {
  0% {
    left: 100%;
  }
  90% {
    left: 0;
  }
  100% {
    left: 5%;
  }

}
