<igj-page>
  <h1>Credits</h1>
  <section>
    <h3>Programming</h3>
    <ul>
      <li>
        <a href="https://github.com/ConnerEnders" target="_blank">
          <span class="fa fa-external-link"></span> Conner Enders</a>
      </li>
      <li>
        <a href="https://github.com/jeremy-sprinkle" target="_blank">
          <span class="fa fa-external-link"></span> Jeremy Sprinkle
        </a>
      </li>
      <li>
        <a href="https://github.com/miboch" target="_blank">
          <span class="fa fa-external-link"></span> Mikkel B. Christensen
        </a>
      </li>
    </ul>
  </section>

  <section>
    <h3>Art</h3>
  </section>
  <ul>
    <li><a href="https://twitch.tv/arkraga" target="_blank"><span class="fa fa-external-link"></span> Arkraga</a></li>
    <li><a href="https://github.com/jeremy-sprinkle" target="_blank"><span class="fa fa-external-link"></span> Jeremy
      Sprinkle</a>
  </ul>

  <h1>Changelog</h1>
  <section>
    <ng-container *ngFor="let change of (changes|keyvalue)">
      <h3>{{change.key}}</h3>
      <ul>
        <li *ngFor="let val of change.value">{{val}}</li>
      </ul>
    </ng-container>
  </section>


</igj-page>
