@import 'theme';

.menu-layout {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.push-right {
  height: 100%;
}

.flexed {
  display: flex;
  height: 100%;
}

.brand {
  left: 16px;
  font-size: 1.5rem;
  font-weight: 200;
  display: flex;
  align-items: center;
  img {
    margin-right: 1rem;
    width: 35px;
  }

}


.menu-wrapper {
  position: relative;
  z-index: 10;
  background-color: $surface-light;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: baseline;
  height: 100%;
  margin: 0;

  li {
    height: 100%;

    a {
      padding: 0 .5rem;
      color: $raspberry;
      text-decoration: none;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: ease-in-out 90ms;

    &:hover {
      background-color: $lemon;
      color: $text;
    }
    }

    &.activated {
      a {
        color: $text;
        background-color: $raspberry;
      }
    }

  }
}
