<div class="menu-layout">
  <div class="menu-wrapper">
    <div class="flexed">
      <div class="brand">
<!--        <img src="assets/lemon.png" alt="Team name">-->
      </div>
      <ul>
        <li routerLinkActive="activated"><a routerLink="game">Game</a></li>
        <li routerLinkActive="activated"><a routerLink="feedback">Feedback</a></li>
        <li routerLinkActive="activated"><a routerLink="about">About</a></li>
      </ul>
    </div>
    <div class="push-right">
      <igj-signin-menu></igj-signin-menu>
    </div>
  </div>
</div>
