<igj-page>
  <section>
    <h2>Test Toaster</h2>
    <label for="whatever">Modal Message</label>
    <textarea name="whatever" id="whatever" cols="30" rows="10" [(ngModel)]="textValue"></textarea><br>
    <button (click)="createSuccess()">Create Success</button>
    <button (click)="createWarn()">Create Warning</button>
    <button (click)="createError()">Create Error</button>
  </section>
  <section>
    <h2>Test Modal</h2>
    <button class="raspberry" (click)="openModal()">Open a moodal</button>
  </section>
  <section>
    <h2>Hover Lists</h2>

    <igj-hover-list [items]="[1,2,3,4,5,100]">
      <ng-template igjListHeader>
        <div class="boxed">This is a hoverable element</div>
      </ng-template>
      <ng-template igjListItem let-item>
        <div class="wide-item">
          {{item}}
        </div>
      </ng-template>
    </igj-hover-list>
    <br>
    <igj-hover-list [items]="[1,2,3,4,5,6]" (listItemClicked)="handleClick($event)">
      <ng-template igjListHeader>
        <div class="boxed wider">This is the same component but with different styling!</div>
      </ng-template>
      <ng-template igjListItem let-item>
        <div class="wide-item">
          {{item}}
        </div>
      </ng-template>
    </igj-hover-list>
  </section>

</igj-page>

<igj-modal [modalDisplay$]="modalDispaySubject$">
  <ng-template igjModalHeader>
    <h2>This is a title for my modal</h2>
  </ng-template>
  <ng-template igjModalContent>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cum dignissimos eligendi est fugit, impedit
    minima nobis optio rerum voluptatum.
  </ng-template>
</igj-modal>
