/* You can add global styles to this file, and also import other style files */
@import 'theme';

@font-face {
  font-family: josefin, sans-serif;
  src: url('assets/JosefinSans-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: josefin, sans-serif;
  src: url('assets/JosefinSans-Light.ttf') format('truetype');
  font-weight: 200;
}

html, body {
  margin: 0;
  min-height: 100%;
  background-color: $surface;
}

body {
  background-image: url("assets/background.svg");
  background-size: 400px;
  background-blend-mode: multiply;
  background-repeat: repeat;
  background-attachment: fixed;
  mask-image: image("assets/background.svg", green);
  //background-color: red;
}

:root {
  --surface: #222;
  font-family: josefin, sans-serif;
  font-size: 12pt;
  line-height: 1.5rem;
  color: $text;
}

* {
  box-sizing: border-box;
}

.lemon {
  color: $lemon;
}

.copper {
  color: $copper;
}

.sky {
  color: $sky;
}

.lime {
  color: $lime;
}

.raspberry {
  color: $raspberry;
}

.fa {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
}

h1, h2, h3, h4, h5 {
  font-weight: 200;
}

button {
  padding: .5rem 1.25rem;
  outline: none;
  border: none;
  cursor: pointer;
  color: $text;
  background-color: $surface;
  &:hover {
    background-image: radial-gradient(transparentize($text, .65), transparent);
  }

  &.raspberry {
    background-color: $raspberry;
    color: $text
  }

  &.sky {
    background-color: $sky;
    color: $text
  }
}

.button-like {
  cursor: pointer;
  &:hover {
    background-image: radial-gradient(transparentize($text, .65), transparent);
  }
}
