/* You can add global styles to this file, and also import other style files */
@import 'theme';

@font-face {
  font-family: josefin, sans-serif;
  src: url('assets/JoseFinSans-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: josefin, sans-serif;
  src: url('assets/JoseFinSans-Light.ttf') format('truetype');
  font-weight: 200;
}

html, body {
  margin: 0;
  height: 100%;
}

:root {
  --surface: #222;
  font-family: josefin, sans-serif;
}
