/* You can add global styles to this file, and also import other style files */
@import 'theme';

@font-face {
  font-family: josefin, sans-serif;
  src: url('assets/JoseFinSans-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: josefin, sans-serif;
  src: url('assets/JoseFinSans-Light.ttf') format('truetype');
  font-weight: 200;
}

html, body {
  margin: 0;
  height: 100%;
  background-color: $surface;
}

:root {
  --surface: #222;
  font-family: josefin, sans-serif;
  font-size: 12pt;
  line-height: 1.5rem;
  color: $text;
}

* {
  box-sizing: border-box;
}

.lemon {
  color: $lemon;
}

.copper {
  color: $copper;
}

.sky {
  color: $sky;
}

.lime {
  color: $lime;
}

.raspberry {
  color: $raspberry;
}

.fa {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
}

h1, h2, h3, h4, h5 {
  font-weight: 200;
}
